@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 220, 223, 228;
  --background-rgb: 40, 44, 52;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/lobster/v30/neILzCirqoswsqX9zoKmMw.woff2') format('woff2');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: bold;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 200;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}
